.section {
    display: block;
    height: 100vh;
    width: 100%;
}

.intro {
    background-color: #3d5a80
}

.about-me{
    background-color: rgb(88, 219, 125);
}

.experty{
    background-color: rgb(37, 219, 185);
}

.projects{
    background-color: beige;
}

// #3d5a80 // #98c1d9 // #e0fbfc // #ee6c4d //#293241